# 파이썬 판다스 데이터 분석과 시각화 뽀개기(Python Pandas)

## 2) 파이썬 판다스 데이터 분석과 시각화 뽀개기(Python Pandas)

In [39]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]}, # 시리즈
    index = [1, 2, 3])

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
df["a"] # 특정 열(컬럼)의 내용만 보고 싶을 때

1    4
2    5
3    6
Name: a, dtype: int64

In [5]:
df[["a", "b"]] # 리스트에 여러개의 컬럼명 담아주면

   a  b
1  4  7
2  5  8
3  6  9

In [7]:
df.loc[1] # row 데이터 보기 > 인덱스로 접근
df.loc[3]

a     6
b     9
c    12
Name: 3, dtype: int64

In [6]:
df.loc[3, "a"] # 행>열 순서로 적어주기(3번 인덱스 row에 "a" 컬럼 요소)

6

In [8]:
df.loc[[1, 2], ["a", "b"]]

   a  b
1  4  7
2  5  8

In [11]:
df = pd.DataFrame(
        [[4, 7, 10],
        [5, 8, 11],
        [6, 9, 12]],
        index=[1, 2, 3],
        columns=['a', 'b', 'c'])

df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [13]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6],
        "b" : [7, 8, 9],
        "c" : [10, 11, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)],
        names=['n','v']))

df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [14]:
df.a

n  v
d  1    4
   2    5
e  2    6
Name: a, dtype: int64

In [15]:
df["a"]

n  v
d  1    4
   2    5
e  2    6
Name: a, dtype: int64

# 3) 판다스 데이터프레임 비교연산자로 색인하기, drop_duplicates()

+ Subset Observations (Rows)

조건에 맞는 특정 행들을 가져오는 법

In [37]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6, 6],
        "b" : [7, 8, 9, 9],
        "c" : [10, 11, 12, 12]},
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2),('e',3)],
        names=['n','v']))

df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  6  9  12

In [26]:
df[df.a <= 5]

     a  b   c
n v
d 1  4  7  10
  2  5  8  11

In [19]:
df[df.b > 7]

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12

In [20]:
df.b > 7

n  v
d  1    False
   2     True
e  2     True
Name: b, dtype: bool

In [24]:
df[df['c'] == 10] # 대소문자 꼭 구분

     a  b   c
n v
d 1  4  7  10

In [25]:
df.drop_duplicates() # 중복된 행을 제거할 때 사용한다

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [30]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12
  3  6  9  12

In [32]:
df.drop_duplicates(inplace=True) # 이렇게 쓰면 원본이 바뀐다

In [33]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [34]:
df.drop_duplicates? 
# 이렇게 실행해보면 뒤에 각 명령어에 대한 설명 나온다 파라메터 뭐뭐 있는지

In [35]:
df.drop_duplicates(keep='first')

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [38]:
df.drop_duplicates(keep='last')

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12