In [3]:
import pandas as pd

In [4]:
import numpy as np

In [11]:
import matplotlib.pyplot as plt
# 한글폰트

In [10]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(5)),dtype='float32'),
                    'D' : np.array([3] * 5,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train", "tt"]),
                    'F' : 'foo' })

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
4  1.0 2013-01-02  1.0  3     tt  foo

In [12]:
df2.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [14]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [22]:
dates = pd.date_range('20130101', periods=6)

In [23]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [25]:
df

                   A         B         C         D
2013-01-01  1.347011 -0.306109  0.542890  1.496385
2013-01-02  1.538277 -1.488063 -0.900863  0.109079
2013-01-03 -1.741074  1.641562 -2.006999  0.084057
2013-01-04 -0.821279  1.481421  0.318812 -0.788760
2013-01-05  1.844090  1.831329 -1.216382  0.740809
2013-01-06  1.194623 -0.814220  0.424687 -1.095441

In [26]:
df.head()

                   A         B         C         D
2013-01-01  1.347011 -0.306109  0.542890  1.496385
2013-01-02  1.538277 -1.488063 -0.900863  0.109079
2013-01-03 -1.741074  1.641562 -2.006999  0.084057
2013-01-04 -0.821279  1.481421  0.318812 -0.788760
2013-01-05  1.844090  1.831329 -1.216382  0.740809

In [27]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.821279  1.481421  0.318812 -0.788760
2013-01-05  1.844090  1.831329 -1.216382  0.740809
2013-01-06  1.194623 -0.814220  0.424687 -1.095441

In [28]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [30]:
df.values

array([[ 1.34701125, -0.30610911,  0.54288969,  1.49638511],
       [ 1.53827668, -1.48806331, -0.90086326,  0.10907902],
       [-1.74107417,  1.64156162, -2.00699922,  0.08405726],
       [-0.82127932,  1.48142053,  0.31881164, -0.78875957],
       [ 1.84409031,  1.83132859, -1.21638197,  0.74080922],
       [ 1.1946232 , -0.8142197 ,  0.42468745, -1.09544068]])

In [31]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.560275  0.390986 -0.472976  0.091022
std    1.471796  1.435051  1.053914  0.957011
min   -1.741074 -1.488063 -2.006999 -1.095441
25%   -0.317304 -0.687192 -1.137502 -0.570555
50%    1.270817  0.587656 -0.291026  0.096568
75%    1.490460  1.601526  0.398218  0.582877
max    1.844090  1.831329  0.542890  1.496385

In [32]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [33]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-02  1.538277 -1.488063 -0.900863  0.109079
2013-01-06  1.194623 -0.814220  0.424687 -1.095441
2013-01-01  1.347011 -0.306109  0.542890  1.496385
2013-01-04 -0.821279  1.481421  0.318812 -0.788760
2013-01-03 -1.741074  1.641562 -2.006999  0.084057
2013-01-05  1.844090  1.831329 -1.216382  0.740809

In [34]:
df.sort_values?

In [35]:
df.sort_values(by='B', inplace=True,)

In [36]:
df

                   A         B         C         D
2013-01-02  1.538277 -1.488063 -0.900863  0.109079
2013-01-06  1.194623 -0.814220  0.424687 -1.095441
2013-01-01  1.347011 -0.306109  0.542890  1.496385
2013-01-04 -0.821279  1.481421  0.318812 -0.788760
2013-01-03 -1.741074  1.641562 -2.006999  0.084057
2013-01-05  1.844090  1.831329 -1.216382  0.740809